.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 25px;
    margin: 2rem 1rem;
}

.navbar .header-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:  1.5rem;
    width: 18rem;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}
.navbar .header-text:hover{
    color: #FFF;
}

.navbar span:nth-child(1),
.navbar span:last-child{
    cursor: pointer;
}
