.image-container{
    margin: 0 auto;
    display: flex;
    justify-content: center;
   width: 18rem;
    margin-bottom: 20px;
}

.image-container img {
    position: relative;  
    width: 100%;
}

