.image-container{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    max-width: 400px;
    margin-bottom: 20px;
}

.image-container img {
    position: relative;  
    width: 80%;
}

