.song-item {
    display: flex;
    align-items: center;
    border-top: 2px solid #ffffff;
    gap: 20px;
    justify-content: space-between;
    text-align: left;
    padding-block: 10px;
    padding: 10px;
  }

  .song-item:hover{
    background-color: rgb(30, 43, 43);
    cursor: pointer;
  }
  
.song-item figure {
    margin: 0;
    width: 4rem;
  }
  
 .song-item figure img {
    width: 100%;
    min-width:  50px;

  }
  .song-item .song-info .upper-text{
    font-size: 1rem;
  }

  .song-item .song-info .lower-text {
    font-size: 0.8rem;
    opacity: 0.5;
  }

  .song-item .song-info p{
    margin: 0;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
  }

  .song-item .song-info{
    width: 70%;
  }
  
 .song-item .play {
    opacity: 0.3; 
    right: 25px;
    font-size: 2rem;
    cursor: pointer;
  }
  
  @media screen and (max-width: 480px){
    .song-item .play{
        font-size: 1.5;
    }
  }